<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Shortcut Icon -->
      <link rel="icon" href="static/images/logo.png" type="image/x-icon">
      <!--=============== REMIXICONS ===============-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">
      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="static/assets/css/styles.css">
      <title>Forgot Password - VibeCheck Twitter</title>
   </head>

   <body>
      <div class="login">
         <img src="static/assets/img/login-bg.png" alt="image" class="login__bg">
        
         <form method="POST" action="/forgot-password" class="login__form">
            {{ form.hidden_tag() }}
            <h1 class="login__title">Forgot Password</h1>
            
            <div class="login__inputs">
               <div class="login__box">
                  {{ form.email(class="login__input", placeholder="Email ID") }}
                  <i class="ri-mail-fill"></i>
              </div>
  
              <div class="login__box">
                  {{ form.new_password(class="login__input", placeholder="New Password") }}
                  <i class="ri-lock-2-fill"></i>
              </div>
  
              <div class="login__box">
                  {{ form.confirm_password(class="login__input", placeholder="Confirm Password") }}
                  <i class="ri-lock-2-fill"></i>
              </div>
  
            </div>
            
            {{ form.submit(class="login__button", id="submit") }}

            <div class="login__register">
                Remembered your password? <a href="/login">Login</a>
            </div>
        </form>
      </div>
   </body>
</html>